<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334129958090-r9giea85k672uk9h2b07m90rmg89n73q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334129958090-r9giea85k672uk9h2b07m90rmg89n73q</string>
	<key>API_KEY</key>
	<string>AIzaSyDJQyiwn7wR2IId3If9UX7w-FPhxEDIOv0</string>
	<key>GCM_SENDER_ID</key>
	<string>334129958090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase1</string>
	<key>PROJECT_ID</key>
	<string>my-memory-project-52eab</string>
	<key>STORAGE_BUCKET</key>
	<string>my-memory-project-52eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334129958090:ios:7aa6a3078b14d51867f833</string>
</dict>
</plist>